{% extends "form/main/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% if attachedDocuments is not defined or attachedDocuments | length == 0 %}
  {% set documentsAttached = noAttachments %}
{% else %}
  {% set documentsAttached = [] %}
  {% for document in attachedDocuments %}
    {% set documentsAttached = documentsAttached + ["<a href=getCaseDocument/" + document.id + " target=\"_blank\">" + document.name + "</a><br>"] %}
  {% endfor %}
{% endif %}

{% block beforeContent %}
  {{ super() }}
{% endblock %}

{% if et3FormId !== '' %}
  {% set et3FormLink = "<a href=getCaseDocument/" + et3FormId + " target=\"_blank\">" + et3FormName + "</a>" %}
{% else %}
  {% set et3FormLink = et3FormNotFound %}
{% endif %}

{% if dcoument.id === undefined or document.id === '' %}
  {% set documentLink = '-' %}
{% else  %}
  {% set documentLink = "<a href=getCaseDocument/" + document.id + " target=\"_blank\">" + document.value.uploadedDocument.document_filename + "</a>" %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
          titleText: titleText
      })
    }}

    <h2 class="govuk-heading-m">{{ heading1 }}</h2>
    <div class="govuk-body">
      <p>{{ p1 }}</p>
      <p>{{ p2 }}</p>
    </div>

    <h2 class="govuk-heading-m">{{ heading2 }}</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
            text: caseNumber
          },
            value: {
            text: userCase.id
          }
          },
          {
            key: {
            text: responseSubmitted
          },
            value: {
            text: et3ResponseSubmitted
          }
          },
          {
            key: {
            text: downloadResponse
          },
            value: {
            html: et3FormLink
          }
          },
          {
            key: {
            text: attachments
          },
            value: {
            text: documentsAttached | safe
          }
          }
        ]
      }) }}

    <h2 class="govuk-heading-m">{{ heading3 }}</h2>
    <div class="govuk-body">
      <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank"> {{ linkText }}</a>
    </div>

    <h2 class="govuk-heading-m">{{ heading4 }}</h2>
    <div class="govuk-body">
      <p>{{ contactUsForeword }}</p>
      {{ contactDuration }}<br/>
      {{ mainTelephone }}<br/>
      {{ welshTelephone }}<br/>
      {{ scotlandTelephone }}
      <p><a href="https://www.gov.uk/call-charges" class="govuk-link">{{ contactCharges }}</a></p>
    </div>

    <div class="govuk-button-group">
      {{ govukButton({
        text: button,
        href: redirectUrl
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include "form/main/footer.njk" %}
{% endblock %}
