{% extends "form/main/template.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ title }}</h1>
    </br>
    <p class="govuk-body"><a href='{{newSelfAssignmentRequestUrl}}'>{{ p1 }}</a></p>
    {% if et3NotCompleted and et3NotCompleted.length != 0 %}
      <h2 class="govuk-heading-l">{{ table1Header }}</h2>
      <div class="scrollableTable">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">{{ caseNumber }}</th>
              <th scope="col" class="govuk-table__header">{{ digitalReference }}</th>
              <th scope="col" class="govuk-table__header">{{ claimant }}</th>
              <th scope="col" class="govuk-table__header">{{ respondent }}</th>
              <th scope="col" class="govuk-table__header">{{ completionStatus }}</th>
              <th scope="col" class="govuk-table__header">{{ lastUpdated }}</th>
              <th scope="col" class="govuk-table__header">{{ options }}</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for et3NotCompletedRow in et3NotCompleted %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"> {{ et3NotCompletedRow[1].text }} </td>
                <td class="govuk-table__cell"> {{ et3NotCompletedRow[2].text }} </td>
                <td class="govuk-table__cell"> {{ et3NotCompletedRow[3].text }} </td>
                <td class="govuk-table__cell"> {{ et3NotCompletedRow[4].text }} </td>
                <td class="govuk-table__cell"> {{ et3NotCompletedRow[5].text }} </td>
                <td class="govuk-table__cell"> {{ et3NotCompletedRow[6].text }} </td>
                <td class="govuk-table__cell"> <a href="{{ et3NotCompletedRow[7].caseDetailsLink }}/{{ et3NotCompletedRow[7].caseId }}/{{ et3NotCompletedRow[7].respondentCcdId }}{{ languageParam }}" aria-label="view {{ et3NotCompletedRow[1].text }}: {{ et3NotCompletedRow[7].caseId }}"> {{ continue }} </a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
    {% if et3Completed and et3Completed.length != 0 %}
      <h2 class="govuk-heading-l">{{ table2Header }}</h2>
      <div class="scrollableTable">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">{{ dateSubmitted }}</th>
              <th scope="col" class="govuk-table__header">{{ caseNumber }}</th>
              <th scope="col" class="govuk-table__header">{{ digitalReference }}</th>
              <th scope="col" class="govuk-table__header">{{ claimant }}</th>
              <th scope="col" class="govuk-table__header">{{ respondent }}</th>
              <th scope="col" class="govuk-table__header">{{ lastUpdated }}</th>
              <th scope="col" class="govuk-table__header">{{ options }}</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for et3CompletedRow in et3Completed %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"> {{ et3CompletedRow[0].text }} </td>
                <td class="govuk-table__cell"> {{ et3CompletedRow[1].text }} </td>
                <td class="govuk-table__cell"> {{ et3CompletedRow[2].text }} </td>
                <td class="govuk-table__cell"> {{ et3CompletedRow[3].text }} </td>
                <td class="govuk-table__cell"> {{ et3CompletedRow[4].text }} </td>
                <td class="govuk-table__cell"> {{ et3CompletedRow[6].text }} </td>
                <td class="govuk-table__cell"> <a href="{{ et3CompletedRow[7].caseDetailsLink }}/{{ et3CompletedRow[7].caseId }}/{{ et3CompletedRow[7].respondentCcdId }}{{ languageParam }}" aria-label="view {{ et3CompletedRow[1].text }}: {{ et3CompletedRow[7].caseId }}"> {{ continue }} </a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
