{% extends "form/main/template.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set et3Started = [] %}
{% set et3NotStarted = [] %}
{% set respondentName =  '' %}
{% for app in usersApplications %}
  {% for respondent in app.userCase.respondents %}
    {% if app.userCase.state === 'Accepted' and user.id === respondent.idamId %}
      {% if respondent.respondentName !== null
            and respondent.respondentName !== ""
            and respondent.respondentName !== undefined %}
        {% set respondentName = respondent.respondentName %}
      {% elif respondent.respondentOrganisation !== null
              and respondent.respondentOrganisation !== ""
              and respondent.respondentOrganisation !== undefined %}
        {% set respondentName = respondent.respondentOrganisation %}
      {% else %}
        {% set respondentName = respondent.respondentFirstName + " " + respondent.respondentLastName %}
      {% endif %}
      {% if respondent.et3Status === 'inProgress' or respondent.et3Status === undefined or respondent.et3Status === '' %}
        {% set et3Started = (et3Started.push([
          {
            text: app.userCase.createdDate
          }, {
            text: app.userCase.id
          }, {
            text: app.userCase.typeOfClaimString
          }, {
            text: respondentName
          }, {
            text: app.completionStatus
          }, {
            text: app.userCase.lastModified
          }, {
            html: "<a href=\"" + app.url + "\" aria-label=\"" + view + " " + col2 + ": " + app.userCase.id + "\">" + continue + "</a>"
          }
        ]), et3Started) %}
      {% endif %}

      {% if respondent.et3Status === 'responseCompleted' %}
        {% set et3NotStarted = (et3NotStarted.push([
          {
            text: app.userCase.createdDate
          }, {
            text: app.userCase.id
          }, {
            text: app.userCase.typeOfClaimString
          }, {
            text: respondentName
          }, {
            text: app.completionStatus
          }, {
            text: app.userCase.lastModified
          }, {
            html: "<a href=\"" + app.url + "\" aria-label=\"" + view + " " + col2 + ": " + app.userCase.id + "\">" + continue + "</a>"
          }
        ]), et3NotStarted) %}
      {% endif %}
    {% endif %}


  {% endfor %}
{% endfor %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ title }}</h1>
    </br>
    <p class="govuk-body"><a href='{{newSelfAssignmentRequestUrl}}'>{{ p1 }}</a></p>
    {% if et3NotStarted.length != 0 %}
      <h2 class="govuk-heading-l">{{ table1Header }}</h2>
      <div class="scrollableTable">
      {{ govukTable({
          caption: h2,
          captionClasses: "govuk-visually-hidden",
          firstCellIsHeader: false,
          head: [
            {
              text: col1
            },
            {
              text: col2
            },
            {
              text: col3
            },
            {
              text: col4
            },
            {
              text: col5
            },
            {
              text: col6
            },
            {
              text: col7
            }
          ],
          rows: et3NotStarted
        }) }}
      </div>
    {% endif %}
    {% if et3Started.length != 0 %}
      <h2 class="govuk-heading-l">{{ table2Header }}</h2>
      <div class="scrollableTable">
      {{ govukTable({
          caption: h2,
          captionClasses: "govuk-visually-hidden",
          firstCellIsHeader: false,
          head: [
            {
              text: col1
            },
            {
              text: col2
            },
            {
              text: col3
            },
            {
              text: col4
            },
            {
              text: col5
            },
            {
              text: col6
            },
            {
              text: col7
            }
          ],
          rows: et3Started
        }) }}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
