{% extends "form/main/template.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk" %}
{% endblock %}

{% block content %}
  {% block errorSummary %}
    {% include "./form/main/error-summary.njk" %}
  {% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ cya.title }}</h1>

      {# Todo: populate ET3 response data #}
      <h2 class="govuk-heading-m">{{ header }}</h2>
      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: et3ResponseSection3
      }) }}

      {% block form %}
        {% include "form/form.njk" %}
      {% endblock %}
    </div>

    <div class="govuk-grid-column-one-third-from-desktop">
      {% set sideBarContent %}
        {% include "./components/sidebar/sidebar.njk" %}
      {% endset %}

      {{ govukDetails({
        summaryHtml: "<span id='contact-us-sidebar'>" + contact + "</span>",
        html: sideBarContent
      }) }}
    </div>
  </div>
{% endblock %}
