{% extends "form/main/template.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set et1FormDescription = '' %}
{% set et1FormLink = '' %}
{% set et1FormDate = '' %}

{% if et1Form === undefined or et1Form.value === undefined or et1Form.value.uploadedDocument === undefined %}
  {% if et1Form.value.uploadedDocument.document_binary_url === undefined %}
    {% set et1FormDescription = 'Document not found' %}
  {% endif %}
  {% if et1Form.value.shortDescription === undefined or "null" in et1Form.value.shortDescription %}
    {% set et1FormDescription = et1FormDescriptionValue %}
  {% else %}
    {% set et1FormDescription = et1Form.value.shortDescription %}
  {% endif %}
  {% if et1Form.value.uploadedDocument.document_binary_url === undefined or et1Form.value.uploadedDocument.document_binary_url === '' %}
    {% set et1FormLink = '-' %}
  {% else  %}
    {% set et1FormLink = "<a href=" + et1Form.value.uploadedDocument.document_binary_url + " target=\"_blank\">" + et1Form.value.uploadedDocument.document_filename + "</a>" %}
  {% endif %}
{% endif %}

{% if formattedEt1FormDate === undefined or formattedEt1FormDate === '' %}
  {% set et1FormDate = '-' %}
{% else  %}
  {% set et1FormDate = formattedEt1FormDate %}
{% endif %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk" %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1 }}</h1>
      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
            text: description
          },
            value: {
            text: et1FormDescription
          }
          },
          {
            key: {
            text: document
          },
            value: {
            html: et1FormLink
          }
          },
          {
            key: {
            text: details
          },
            value: {
            text: et1FormDetailsValue
          }
          },
          {
            key: {
            text: date
          },
            value: {
            text: et1FormDate
          }
          }
        ]
      }) }}
    </div>

    <div class="govuk-grid-column-one-third-from-desktop">
      {% set sideBarContent %}
        {% include "./components/sidebar/sidebar.njk" %}
      {% endset %}

      {{ govukDetails({
        summaryHtml: "<span id='contact-us-sidebar'>" + contact + "</span>",
        html: sideBarContent
      }) }}
    </div>
  </div>
{% endblock %}
