{% extends "form/main/template.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk" %}
{% endblock %}
{% set et1FormDate = '' %}
{% set et1FormUrl = '' %}
{% set acasCertDate = '' %}
{% set acasCertUrl = '' %}
{% set acasAttachmentInfo = '' %}

{% if et1FormDocument === 'undefined' %}
  {% set et1FormDate = '-' %}
  {% set et1FormUrl = 'Not exists' %}
{% else  %}
  {% set et1FormDate = formattedEt1FormDate %}
  {% set et1FormUrl = "<a href=" + et1FormUrlValue + ">" + et1Form + "</a>" %}
{% endif %}
{% if acasCertificate === undefined %}
  {% set acasCertDate = '-' %}
  {% set acasCertUrl = notExists %}
  {% set acasAttachmentInfo = attachmentNotFound %}
{% else %}
  {% set acasCertDate = formattedAcasCertificateDate %}
  {% set acasCertUrl = "<a href=" + acasCertUrlValue + ">" + acasCert + "</a>" %}
   {% set acasAttachmentInfo = attachments %}
{% endif %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1 }}</h1>

      {{ govukTable({
        caption: tableTitle,
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        rows: [
          [
            {
              text: et1FormDate
            },
            {
              text: et1Form
            },
            {
              html: et1FormUrl
            }
          ],
          [
            {
              text: acasCertDate
            },
            {
              text: acasAttachmentInfo
            },
            {
              html: acasCertUrl
            }
          ]
        ]
      }) }}
    </div>

    <div class="govuk-grid-column-one-third-from-desktop">
      {% set sideBarContent %}
        {% include "./components/sidebar/sidebar.njk" %}
      {% endset %}

      {{ govukDetails({
        summaryHtml: "<span id='contact-us-sidebar'>" + contact + "</span>",
        html: sideBarContent
      }) }}
    </div>
  </div>
{% endblock %}
