{% extends "form/main/template.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-xl">{{ sectionTitle }}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1 }}</h1>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
            text: description
          },
            value: {
            text: et1Form
          }
          },
          {
            key: {
            text: document
          },
            value: {
            html: '<a href="' ~ et1FormDoc ~ '" aria-label="' ~ et1Form ~ ' : ' ~ userCase.et1SubmittedForm.id ~ '">' ~ et1FormDocument ~ '</a>'
          }
          },
          {
            key: {
            text: details
          },
            value: {
            text: "[et1FormDetails]"
          }
          },
          {
            key: {
            text: date
          },
            value: {
            text: "[et1FormDate]"
          }
          }
        ]
      }) }}
    </div>

    <div class="govuk-grid-column-one-third-from-desktop">
      {% set sideBarContent %}
        {% include "./components/sidebar/sidebar.njk" %}
      {% endset %}

      {{ govukDetails({
        summaryHtml: "<span id='contact-us-sidebar'>" + contact + "</span>",
        html: sideBarContent
      }) }}
    </div>
  </div>
{% endblock %}
