{% extends "form/main/template.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk" %}
{% endblock %}

{% block content %}
  {% block errorSummary %}
    {% include "./form/main/error-summary.njk" %}
  {% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-xl">{{ sectionTitle.s2 }}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ title }}</h1>

      {{ govukTable({
        firstCellIsHeader: true,
        rows: [
          [
            {
              text: jobTitleLabel
            },
            {
              text: jobTitle
            }
          ]
        ]
      }) }}

      <p class="govuk-body">{{ p1 }}</p>

      {% block form %}
        {% include "form/form.njk" %}
      {% endblock %}
    </div>

    <div class="govuk-grid-column-one-third-from-desktop">
      {% set sideBarContent %}
        {% include "./components/sidebar/sidebar.njk" %}
      {% endset %}

      {{ govukDetails({
        summaryHtml: "<span id='contact-us-sidebar'>" + contact + "</span>",
        html: sideBarContent
      }) }}
    </div>
  </div>
{% endblock %}
