{% extends "form/main/template.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk" %}
{% endblock %}
{% set et1FormDate = '' %}
{% set et1FormUrl = '' %}
{% set acasCertDate = '' %}
{% set acasCertUrl = '' %}

{% if et1FormDocument !== 'undefined' %}
  {% set et1FormDate = formattedEt1FormDate %}
  {% set et1FormUrl = "<a href=" + et1FormUrlValue + ">" + et1FormDocument.value.uploadedDocument.document_filename + "</a>" %}
{% endif %}
{% if acasCertificate !== undefined %}
  {% set acasCertDate = formattedAcasCertificateDate %}
  {% set acasCertUrl = "<a href=" + acasCertUrlValue + ">" + acasCertificate.value.uploadedDocument.document_filename + "</a>" %}
{% endif %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ h1 }}</h1>
      {% if et1FormDocumentAsGovUkTableRow !== undefined %}
        {{ govukTable({
          caption: et1Form,
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: false,
          rows: [ et1FormDocumentAsGovUkTableRow ]
        }) }}
     {% endif %}
     {% if acasCertificateToGovUkTableRow !== undefined %}
        {{ govukTable({
          caption: acasCert,
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: false,
          rows: [ acasCertificateToGovUkTableRow ]
        }) }}
     {% endif %}
     {% if et1AttachmentsAsGovUkTableRow !== undefined %}
       {{ govukTable({
         caption: et1Attachments,
         captionClasses: "govuk-table__caption--m",
         firstCellIsHeader: false,
         rows: [ et1AttachmentsAsGovUkTableRow ]
       }) }}
    {% endif %}
    </div>
    <div class="govuk-grid-column-one-third-from-desktop">
      {% set sideBarContent %}
        {% include "./components/sidebar/sidebar.njk" %}
      {% endset %}

      {{ govukDetails({
        summaryHtml: "<span id='contact-us-sidebar'>" + contact + "</span>",
        html: sideBarContent
      }) }}
    </div>
  </div>
{% endblock %}
