{% extends "form/main/template.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set acasCertDescription = 'Document not found' %}
{% set acasCertLink = '-' %}
{% set acasCertDate = '-' %}

{% if acasCert !== undefined and acasCert.value !== undefined and acasCert.value.uploadedDocument !== undefined %}
  {% if acasCert.value.uploadedDocument.document_binary_url === undefined %}
    {% set acasCertDescription = 'Document not found' %}
  {% endif %}
  {% if acasCert.value.shortDescription === undefined or "null" in acasCert.value.shortDescription %}
    {% set acasCertDescription = acasCertDescriptionValue %}
  {% else %}
    {% set acasCertDescription = acasCert.value.shortDescription %}
  {% endif %}
  {% if acasCert.id === undefined or acasCert.id === '' %}
    {% set acasCertLink = '-' %}
  {% else  %}
    {% set acasCertLink = "<a href=getCaseDocument/" + acasCert.id + " target=\"_blank\">" + acasCert.value.uploadedDocument.document_filename + "</a>" %}
  {% endif %}
{% endif %}

{% if formattedAcasCertificateDate === undefined or formattedAcasCertificateDate === '' %}
  {% set acasCertDate = '-' %}
{% else  %}
  {% set acasCertDate = formattedAcasCertificateDate %}
{% endif %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk" %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1 }}</h1>
      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
            text: description
          },
            value: {
            text: acasCertDescription
          }
          },
          {
            key: {
            text: document
          },
            value: {
            html: acasCertLink
          }
          },
          {
            key: {
            text: details
          },
            value: {
            text: acasCertDetails
          }
          },
          {
            key: {
            text: date
          },
            value: {
            text: acasCertDate
          }
          }
        ]
      }) }}
    </div>
    <div class="govuk-grid-column-one-third-from-desktop">
      {% set sideBarContent %}
        {% include "./components/sidebar/sidebar.njk" %}
      {% endset %}
      {{ govukDetails({
        summaryHtml: "<span id='contact-us-sidebar'>" + contact + "</span>",
        html: sideBarContent
      }) }}
    </div>
  </div>
{% endblock %}
