{% extends "form/main/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block beforeContent %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: title
            }) }}

            <p class="govuk-heading-m">{{ pHead }}</p>
            <p class="govuk-body">{{ p1 }}</p>
            <p class="govuk-body"><a href="{{ applicationLink }}" class="govuk-link" target="_blank">{{ p2 }} ({{ opensInNewTab }})</a></p>

            {% if document %}
                <p class="govuk-body">
                    {{ p3 }} <br/>
                    <a href="{{ documentLink }}" class="govuk-link" target="_blank">{{ document.document_filename }}</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="govuk-width-container">
        <div class="govuk-button-group">
            {{ govukButton({
                text: button,
                href: redirectUrl
            }) }}
        </div>
    </div>
    {{ super() }}
{% endblock %}
