{% extends "form/main/template.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
    {% block errorSummary %}
        {% include "./form/main/error-summary.njk" %}
    {% endblock %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <span class="govuk-caption-l">{{ applicationType }}</span>
            <h1 class="govuk-heading-l">{{ title }}</h1>
            <p class="govuk-body-l">{{ caseNumber }}: {{ userCase.ethosCaseReference }}</p>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            {% for item in content %}
                {% if item.type == 'paragraph' %}
                    <p class="govuk-body">{{ item.text }}</p>
                {% elif item.type == 'bold-paragraph' %}
                    <p class="govuk-body-m govuk-!-font-weight-bold">{{ item.text }}</p>
                {% elif item.type == 'list' %}
                    <ul class="govuk-list govuk-list--bullet">
                    {% for listItem in item.items %}
                        <li>{{ listItem }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}

            <p class="govuk-body-m govuk-!-font-weight-bold">{{ genericGuidance }}</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>{{ genericGuidanceItem1 }}</li>
                <li>{{ genericGuidanceItem2 }}</li>
                <li>{{ genericGuidanceItem3 }}</li>
            </ul>

            <p class="govuk-body-m govuk-!-font-weight-bold">{{ formHearing }}</p>
            {% block form %}
                {% include "form/form.njk" %}
            {% endblock %}
        </div>

        <div class="govuk-grid-column-one-third-from-desktop">
            {% set sideBarContent %}
                {% include "./components/sidebar/sidebar.njk" %}
            {% endset %}

            {{ govukDetails({
                summaryHtml: "<span id='contact-us-sidebar'>" + contact + "</span>",
                html: sideBarContent
            }) }}
        </div>
    </div>
{% endblock %}
