{% extends "form/main/template.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  {% block errorSummary %}
    {% include "./form/main/error-summary.njk" %}
  {% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-xl">{{ sectionTitle }}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1 }}</h1>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-4 ">{{ postcode }}</h2>

      <p class="govuk-body">
        <span class="govuk-!-font-size-24 govuk-!-font-weight-bold">{{ userCase.addressPostcode + ' ' }}</span> <a href="/respondent-enter-postcode" id="changePostcode" class="govuk-link" target="_self">{{ change }}</a>
      </p>

      {% block form %}
        {% include "form/form.njk"%}
      {% endblock %}
      <p class="govuk-body">
        <a href="{{ manualAddressLink }}" id="cannotFindAddress" class="govuk-link" target="_self">{{ cannotEnterPostcode }}</a>
      </p>
    </div>

    <div class="govuk-grid-column-one-third-from-desktop">
      {% set sideBarContent %}
        {% include "./components/sidebar/sidebar.njk" %}
      {% endset %}

      {{ govukDetails({
        summaryHtml: "<span id='contact-us-sidebar'>" + contact + "</span>",
        html: sideBarContent
      }) }}
    </div>
  </div>
{% endblock %}
