{% extends "form/main/template.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  {% block errorSummary %}
    {% include "./form/main/error-summary.njk" %}
  {% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-xl">{{ sectionTitle }}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1 }}</h1>

      <p class="govuk-body">
        <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank"> {{ et1Form }}</a>
      </p>

      <p class="govuk-body ">{{ p1 }}</p>
      <p class="govuk-body ">{{ p2 }}</p>

      <p class="govuk-body ">{{ bulletTitle }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ bullet1 }} </li>
        <li>{{ bullet2 }} </li>
        <li>{{ bullet3 }} </li>
      </ul>
      <p class="govuk-body ">{{ p3 }}</p>
      <p class="govuk-body ">{{ p4 }}</p>

      {% block form %}
        {% include "form/form.njk"%}
      {% endblock %}
    </div>

    <div class="govuk-grid-column-one-third-from-desktop">
      {% set sideBarContent %}
        {% include "./components/sidebar/sidebar.njk" %}
      {% endset %}

      {{ govukDetails({
        summaryHtml: "<span id='contact-us-sidebar'>" + contact + "</span>",
        html: sideBarContent
      }) }}
    </div>
  </div>
{% endblock %}
