{% if "lng=cy" in currentUrl %}
  {% set addLanguagePostfix = "&lng=cy" %}
{% else %}
  {% set addLanguagePostfix = "" %}
{% endif %}

<p class="govuk-body">
  <a href="{{ field.targetUrl }}{{ addLanguagePostfix }}" class="govuk-link">{{ clearSelection }}</a>
</p>
