{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}


{% set htmlForAcknowledgementAlert %}

{% if showAcknowledgementAlert or showSavedResponseAlert%}
  <h3 class="govuk-notification-banner__heading">
    {{notificationBanner.acknowledgement.header }}
    {% if selectedRespondent.respondentName !== null
            and selectedRespondent.respondentName !== ""
            and selectedRespondent.respondentName !== undefined %}
      {{ selectedRespondent.respondentName }}
    {% elif (selectedRespondent.respondentOrganisation !== null
              and selectedRespondent.respondentOrganisation !== ""
              and selectedRespondent.respondentOrganisation !== undefined) %}
      {{ selectedRespondent.respondentOrganisation }}
    {% else %}
      {{ selectedRespondent.respondentFirstName + " " + selectedRespondent.respondentLastName }}
    {% endif %}
  </h3>

  <p class="govuk-body">
    {{notificationBanner.acknowledgement.p1 + respondentResponseDeadline}}
  </p>

  {% if showAcknowledgementAlert %}
    <p class="govuk-body">
      <a class="govuk-link" href="{{ et1FormUrl }}"><b>{{notificationBanner.acknowledgement.link}}</b></a><br>
      <a class="govuk-link" href="{{ respondToClaimUrl }}"><b>{{notificationBanner.acknowledgement.link2}}</b></a>
    </p>

  {% elif showSavedResponseAlert and not showAcknowledgementAlert %}
    <p class="govuk-body">
      <a class="govuk-link" href="{{ respondToClaimUrl }}"><b>{{notificationBanner.acknowledgement.returnToResponse}}</b></a>
    </p>
  {% endif %}
{% endif %}

{% if showViewResponseAlert %}
  <h3 class="govuk-notification-banner__heading">
    {{notificationBanner.viewResponse.header + userCase.respondents[0].respondentName }}
  </h3>

  <p class="govuk-body">
    {{notificationBanner.viewResponse.p1}}
  </p>

  <p class="govuk-body">
    <a class="govuk-link" href="{{ et3Response }}"><b>{{notificationBanner.viewResponse.link}}</b></a><br>
  </p>
{% endif %}

{% endset %}

{% if showAcknowledgementAlert or showViewResponseAlert or showSavedResponseAlert %}
  {{ govukNotificationBanner({
   html: htmlForAcknowledgementAlert,
   titleText: important
  }) }}
{% endif %}

{% for app in adminNotifications %}
  {% set adminNotificationHtml %}
    <p class="govuk-notification-banner__heading">{{ tribunalHasRespondToYourApp }} {{ appName }}</p>
    <p class="govuk-body">{{ mustRespond }}</p>
    <p class="govuk-notification-banner__heading">
      <a class="govuk-link" href="{{ app.appUrl }}">{{ respondToTribunal }}</a>
    </p>
  {% endset %}
  {{ govukNotificationBanner({
    html: adminNotificationHtml,
    titleText: important
  }) }}
{% endfor %}
