{% if languageParam === undefined %}
  {% set languageParam = '' %}
{% endif %}

<p class='govuk-body'>
  {{ callEmployer }}
</p>

<p class='govuk-body'>
  {{ contactText }}
  <a href="{{ PageUrls.HOLDING_PAGE + languageParam }}">
    {{ contactLink }}
  </a>
</p>

<h2 class="govuk-heading-s">
  {{ englandWales }}
</h2>

<p class='govuk-body'>
  {{ ewNumbers }}
</p>

<h2 class="govuk-heading-s">
  {{ welsh }}
</h2>

<p class='govuk-body'>
  {{ welshNumber }}
</p>

<h2 class="govuk-heading-s">
  {{ scotland }}
</h2>

<p class='govuk-body'>
  {{ scotlandNumbers }}
</p>

<p class='govuk-body'>
  {{ hours }}
</p>

<a href="https://www.gov.uk/call-charges" target="_blank" class="govuk-link">{{ callCharges }}</a>
